# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables and secrets
.env
.env.*
*.env
environment.*.yml
.secrets/

# Virtual Environment
**/venv/
**/env/
**/ENV/
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# MLflow
mlruns/
mlflow-artifacts/
mlflow.db

# DVC - we version the .dvc files but not the actual data
/data/
/metrics/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db
/Users/a/Documents/DSA_hackathon/venv/
